
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 {extend name="public:base" /}
 {block name="title"}<title>管理中心</title>{/block}
<meta name="Copyright" content="Douco Design." />
<link href="/static/admin/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
</head>
<body>

</body>
</html>