<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {extend name="public:base" /}
    {block name="title"}<title>权限添加</title>{/block}
    {block name="jq"}<script>
    $(function(){
        var validate={
            checkName:false,
            checkId:false,
            checkMenu:false
        };
        //验证账号
        $("input[name='node_name']").blur(function(){
            var node_name=$(this).val().trim();
            var obj=$(this);
            if(node_name==""){
                $(this).next().html("权限不能为空");
                validate.checkName=false;
                return false;
            }
            $.ajax({
                type:"get",
                url:"{:url('Node/check_node_name')}",
                data:{
                    node_name:node_name
                },
                dataType:"json",
                success:function(data){
                    if(data.status==1){
                        obj.next().html("权限名称已添加");
                        validate.checkUser=false;
                    }
                    if(data.status==0){
                        obj.next().html("ok");
                        validate.checkUser=true;
                    }
                },
                error:function(){
                    obj.next().html("网络异常");
                    validate.checkUser=false;
                }
            });
        });
        $("select[name='node_pid']").blur(function() {
            var admin_email = $(this).val().trim();
            var obj = $(this);
            if (admin_email == "") {
                $(this).next().html("权限分类不能为空");
                validate.checkId = false;
                return false;
            }
        });
        $("input[name='node_ismenu']").blur(function() {
            var node_ismenu = $(this).val().trim();
            var obj = $(this);
            if (node_ismenu == "") {
                $(this).next().html("权限菜单不能为空");
                validate.checkMenu= false;
                return false;
            }
        });
    })
    </script>{/block}
</head>
<body>
<!-- 当前位置 -->
{block name="content"}
<div id="dcMain">
    <div id="urHere">DouPHP 管理中心<b>></b><strong>权限添加</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Node/index')}" class="actionBtn">权限列表</a>权限添加</h3>
    <form action="" method="post" name="add_node">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <td width="80" align="right" >权限名称</td>
                <td>
                    <input type="text" name="node_name" value="" size="40" class="inpMain" /><span></span>
                </td>
            </tr>
            <tr>
                <td align="right">权限分类</td>
                <td>
                    <select name="node_pid" id="">
                        <option value="0">顶级权限</option>
                        {foreach $node as $key=>$val}
                            <option value="{$val['node_id']}">{$val["node_name"]}
                            </option>
                        {/foreach}
                    </select><span></span>
                </td>
            </tr>
            <tr>
                <td align="right">权限菜单</td>
                <td>
                    <label>
                        <input type="radio" name="node_ismenu" value="1" checked>可展示在菜单</label><span></span>
                    <label>
                        <input type="radio" name="node_ismenu" value="0">不展示在菜单</label><span></span>
                </td>
            </tr>
            <tr>
                <td width="80" align="right" >权限控制器</td>
                <td>
                    <input type="text" name="node_controller" value="" size="40" class="inpMain" /><span></span>
                </td>
            </tr>
            <tr>
                <td width="80" align="right" >权限方法</td>
                <td>
                    <input type="text" name="node_action" value="" size="40" class="inpMain" /><span></span>
                </td>
            </tr>
            <tr>
                <td width="80" align="right" >权限url</td>
                <td>
                    <input type="text" name="node_url" value="" size="40" class="inpMain" /><span></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input name="submit" class="btn" type="submit" value="提交" />
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
{/block}
</body>
</html>