{extend name="public:base" /}
{block name="title"}<title>分类列表</title>{/block}
      <script>
            $(function() {
                $(".cate_del").click(function(){
                    var cate_id =$(this).attr('id');
                    $.ajax({
                        type: "get",
                        url: "{:url('Cate/cateDelete')}",
                        dataType: "json",
                        data:{
                            cate_id:cate_id
                        },
                        success: function (data) {
                            if(data.status=1){
                                window.location.href();
                            }
                        }

                    });
                })
            });
      </script>
{block name="content"}
<!-- 当前位置 -->
<div id="dcMain">
    <div id="urHere">DouPHP 管理中心<b>></b><strong>商品分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="add_product_category.html" class="actionBtn add">添加分类</a>商品分类</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
              <tr>
                <th width="120" align="left">分类名称</th>
                <th align="left">别名</th>
                <th align="left">简单描述</th>
                <th width="60" align="center">排序</th>
                <th width="80" align="center">操作</th>
             </tr>
                {volist name="cates" id="vo"}
             <tr>
                <td align="left"> <a href="goods.html?cat_id=1">{$vo.cate_name}</a></td>
                <td>{$vo.cate_an_name}</td>
                <td>{$vo.cate_content}</td>
                <td align="center">{$vo.cate_order}</td>
                <td align="center">
                    <a href="product_category.php?rec=edit&cat_id=1">编辑</a> |
                    <a href="javascript:void(0);" name="cate_id" id={$vo.cate_id} class="cate_del">删除</a>
                </td>
             </tr>
                {/volist}
         </table>
    </div>
 </div>
{/block}
